<%= simple_form_for @event do |e| %>
  <div class="row d-flex justify-content-end">
    <div class="col-md-7 p-3 m-3 bg-white shadow rounded">
        <%= e.input :name %>
        <%= e.input :starts_at, default: DateTime.now, :order => [:month, :day, :hour, :minute] %>
        <%= e.input :location %>
        <%= e.input :description %>
        <%= e.input :image, as: :file %>
    </div>
    <div class="col-md-4 p-3 m-3 bg-white shadow rounded">
        <%= e.simple_fields_for @organiser do |o| %>
          <%= o.input :name %>
          <%= o.input :email %>
        <% end %>
        <%= e.submit "Save Event", class:"btn btn-success" %>
    </div>
  </div>
<% end %>
