<%= simple_form_for @event do |e| %>
  <div class="row bg-white rounded py-2">
    <div class="col-md-5">
        <%= e.input :name %>
        <%= e.input :date_time %>
        <%= e.input :location %>
        <%= e.input :description %>
        <%= e.input :image, as: :file %>
    </div>
    <div class="col-md-4 offset-2">
        <%= e.simple_fields_for @organiser do |o| %>
          <%= o.input :name %>
          <%= o.input :email %>
        <% end %>
        <%= e.submit "Save Event", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
