<div class="container">
  <div class="row">
    <div class="col-md-5 offset-1">
      <h1><%= @event.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 offset-1">
      <h5>When</h5>
      <p><%= @event.date_time %> </p>
      <h5>Where</h5>
      <p><%= @event.location %></p>
      <h5>About</h5>
      <p><%= @event.description %> </p>
      <p><%= link_to "edit", edit_event_path(@event), class:'btn btn-warning'%></p>
      <p><%= link_to "delete", event_path(@event), method: :delete, class:'btn btn-danger'%></p>
    </div>

    <div class="col-md-4 offset-1">
      <h5>organised by</h5>
      <p><%= @event.organiser_name %></p>

      <% if @event.responses.yes.empty? %>
      <h5>Nobody is attending yet</h5>
      <% else %>
      <h5>They are in</h5>
      <% end %>

      <% @event.responses.yes.each do |response| %>
      <p><%= response.name %><small> <%= response.message %></small></p>
      <% end %>

      <% unless @event.responses.maybe.empty? %>
      <h5>They might be there</h5>
      <% end %>

      <% @event.responses.maybe.each do |response| %>
      <p><%= response.name %> <small> <%= response.message %></small></p>
      <% end %>

      <% unless @event.responses.no.empty? %>
      <h5>They can't make it</h5>
      <% end %>

      <% @event.responses.no.each do |response| %>
      <p><%= response.name %><small> <%= response.message %></small></p>
      <% end %>

      <%= render 'responses/response_form' %>
    </div>
  </div>
</div>
