<%= render 'events/info' %>

<div class="row align-items-start">

  <div class="col-md-4 m-3">
    <%= render 'responses/form' %>
  </div>

  <div class="col-md-7 p-3 m-3 bg-dark rounded shadow pane">
    <h5 class="pane-name">Attendance</h5>
    <%= render 'responses/list' %>
  </div>

</div>

<div class="row align-items-start">

  <div class="col-md-7 p-3 m-3 bg-dark rounded shadow pane">
    <h5 class="pane-name">Updates</h5>
    <%= render 'updates/form' %>
    <%= render 'updates/list' %>
  </div>

  <div class="col-md-4 p-3 m-3 bg-dark rounded pane text-center shadow">
    <h5 class="pane-name">Snapbox</h5>
    <%= render 'photos/photo_grid' %>
    <%= link_to "View all snaps", event_photos_path(@event), class:'btn btn-secondary' %>
    <br>
    <br>

    <% if @event.order && @event.order.state == 'completed' %>

      <p><small><%= icon('fas', 'info-circle') %> Big thanks to <strong><%= @event.order.contact.name %></strong>, for upgrading this event so all images are available at full resolution. 🤙</small></p>

    <% else %>

      <p><small><%= icon('fas', 'info-circle') %> This free space displays photos with a maximum resolution of 0.15 megapixel. Please upgrade the space for €1 to see all images at full resolution. Thanks for your support!</small></p>
      <p>❤️</p>
      <% if session[:uuid] %>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'event_id', @event.id %>
          <%= hidden_field_tag 'contact_id', session[:uuid] %>
          <%= submit_tag 'Upgrade', class: 'btn btn-primary' %>
        <% end %>
      <% end %>

    <% end %>
  </div>


</div>

<div class="row align-items-start justify-content-end">

  <div class="col-md-4 p-3 m-3 text-center">
    <p><small>This is private and temporary.</small></p>
    <%= link_to icon('fas', 'info-circle') + " how it works", "", class:"btn-sm btn-info" %>
  </div>

</div>

