<div class="container">
  <div class="row">
    <div class="col">
      <h1>Upgrade order
        <% if @order.state == 'completed' %>
          <small><span class="badge badge-success"><%= @order.state %></span></small>
        <% else %>
          <small><span class="badge badge-primary"><%= @order.state %></span></small>
        <% end %>
      </h1>
      <ul class="list-unstyled">
        <li><strong>ORDER ID</strong> <%= @order.id %></li>
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>SPACE</strong> <%= @order.event.name %></li>
        <li><strong>TOTAL</strong> <%= @order.amount %></li>
        </li>
      </ul>
      <p>Enjoy!</p>
      <%= link_to "Back to event", event_path(@order.event), class: "btn btn-primary" %>
    </div>
  </div>
</div>
