<%= simple_form_for [@event, @response] do |r| %>
  <div class="row attendance-row">
    <div class="col-md-12 pb-3 my-4 text-center">

    <svg class="attendance-top-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320">
      <path fill-opacity="1" d="M0,0L1440,256L1440,320L0,320Z"></path>
    </svg>

    <div class="attendance-fill"></div>

      <h3>Are you in?</h3>
        <%= r.input :attendance,
                    label: "",
                    required: false,
                    collection: [[icon('fas', 'check'), :yes], # add ", checked: true" after yes, for default check.
                                 [icon('fas', 'minus'), :maybe],
                                 [icon('fas', 'times'), :no]],
                    as: :radio_buttons,
                    item_wrapper_class: 'form-check form-check-inline' %>


      <svg class="attendance-bottom-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320">
        <path fill-opacity="1" d="M0,0L1440,256L1440,320L0,320Z"></path>
      </svg>

    </div>

  </div>
  <div class="row mt-2">
    <div class="col-md-12 p-3 rounded response-form-inputs hidden-form shadow-sm pane">
      <h5 class="pane-name">Response</h5>
      <div class="row">
        <%= r.simple_fields_for @contact do |c| %>
        <div class="col-md-12">
          <%= c.input :name %>
        </div>
        <div class="col-md-12">
          <%= c.input :email, hint: 'Needed to send you updates and a link to manage your response.' %>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= r.input :message, hint: 'Everybody invited can read it.' %>
        </div>
        <div class="col-md-12">
          <div class="has-error">
            <%= r.error_notification message: r.object.errors[:base].to_sentence if r.object.errors[:base].present? %>
          </div>
          <%= r.submit "Send RSVP", class:"btn btn-primary d-inline" %>
          <%= link_to "Cancel", event_path(@event), class:"btn btn-dark d-inline" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
