<div class="row d-flex justify-content-end">
  <div class="col-md-4 p-3 m-3">
    <h3>Are you in?</h3>
    <%= simple_form_for [@event, @response] do |f| %>
      <%= f.input :attendance,
                  label: "",
                  required: false,
                  collection: [[icon('fas', 'check'), :yes], # add ", checked: true" after yes, for default check.
                               [icon('fas', 'minus'), :maybe],
                               [icon('fas', 'times'), :no]],
                  as: :radio_buttons,
                  item_wrapper_class: 'form-check form-check-inline' %>
  </div>
</div>
<div class="row d-flex justify-content-end">
  <div class="col-md-4 p-3 m-3 bg-white rounded response-form-inputs d-none">
      <%= f.input :name %>
      <%= f.input :message, hint: 'Everybody invited can read it.' %>
      <%= f.input :email, hint: 'Needed to send you updates and a link to manage your response.' %>
      <%= f.submit "Send RSVP", class:"btn btn-success d-inline" %>
      <%= link_to "Cancel", event_path(@event), class:"btn btn-outline-dark d-inline" %>
    <% end %>
  </div>
</div>
