<% if @event.responses.empty? %>
  <h4 class="d-inline">👋</h4> <p class="d-inline">Nobody is attending yet</p>
<% end %>

<div class="attendance-container">

  <!-- All responses ordered by attendance: yes, maybe, no -->
  <% @event.responses.order("attendance = 1 DESC, attendance = 2 DESC, attendance = 1 DESC").each do |response| %>

    <div class="attendance-name">
      <%= response.contact.name %>
    </div>

    <div class="attendance-buttons">
      <% if response.contact.id == session[:uuid] %>
        <%= link_to icon('fas', 'edit'), edit_event_response_path(@event, response), class:'text-warning' %>
      <% end %>
      <% if response.contact.id == session[:uuid] or @event.organiser.id == session[:uuid] %>
        <%= link_to icon('fas', 'trash'), event_response_path(@event, response), method: :delete, data: { confirm: "Are you sure you want to remove your response and all shared information?" }, class:'text-danger' %>
      <% end %>
    </div>


    <div class="attendance-icon">
      <% if response.attendance == "yes" %>
        <div class="yes"><%= icon('fas', 'check') %></div>
      <% elsif response.attendance == "maybe" %>
        <div class="maybe"><%=  icon('fas', 'minus') %></div>
      <% elsif response.attendance == "no" %>
        <div class="no"><%= icon('fas', 'times') %></div>
      <% end %>
    </div>

    <% unless response.message.empty? %>
      <div class="attendance-message"><small><%= response.message %></small></div>
    <% end %>

  <% end %>
</div>
<small><%= icon('fas', 'info-circle') %> If you already answered: follow the manage-link from our email to edit your attendance and to add updates or photos</small>
