<%= simple_form_for [@event, @response] do |f| %>
  <h5>Are you in?</h5>
  <%= f.input_field :attendance, collection: Response.attendances, as: :radio_buttons, item_wrapper_class: 'custom-control-inline', label_html: { class: 'custom-control-input' } %>
  <%= f.input :name %>
  <%= f.input :message %>
  <%= f.input :email %>
  <%= f.submit "Send RSVP", class:"btn btn-success" %>
<% end %>
