<div class="row">
  <div class="col p-3 m-3 rounded pane text-center shadow">

    <h5 class="pane-name">Snapbox</h5>
    <%= render 'photo_grid' %>

    <%= link_to "back to event", event_path(@event), class:'btn btn-secondary' %>
    <br>
    <br>
    <p><small><%= icon('fas', 'info-circle') %> After the event everybody will be asked to upload a couple of their best snaps. And before the space is deleted, you will get notified, so you can download all uploaded pictures to your photo-roll in one go.</small></p>

    <% if @event.order && @event.order.state == 'completed' %>

      <p><small><%= icon('fas', 'info-circle') %> Big thanks to <strong><%= @event.order.contact.name %></strong>, for upgrading this space so all images are available at full resolution. 🤙</small></p>

    <% else %>

      <% if session[:uuid] %>
      <p><small><%= icon('fas', 'info-circle') %> This free space displays photos with a lower resolution. Please upgrade the space for €1 to see all images at full resolution. Thanks for your support! ❤️</small></p>

        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'event_id', @event.id %>
          <%= hidden_field_tag 'contact_id', session[:uuid] %>
          <%= submit_tag 'Upgrade', class: 'btn btn-primary' %>
        <% end %>
      <% end %>

    <% end %>
  </div>

</div>
