<div class="row">
  <div class="col p-3 m-3 bg-dark rounded pane shadow">

    <h5 class="pane-name">Snapbox</h5>
    <div class="text-center">
      <% if @event.order && @event.order.state == 'completed' %>
        <img src="<%= cl_image_path(@photo.image.key) %>">
      <% else %>
          <img src="<%= cl_image_path(@photo.image.key, :width => 390, :height => 390, crop: :limit) %>">
      <% end %>

      <br>
        <% if @photo.contact.id == session[:uuid] %>
          <%= link_to icon('fas', 'trash'), event_photo_path(@event, @photo), method: :delete, data: { confirm: "Are you sure you want to remove this photo?" }, class:'text-danger d-inline' %>
        <% end %>
      <p class="">📸 by
        <%= @photo.contact.name %>
      </p>
    </div>

  <div class="col-sm-6 offset-sm-3">
    <% @photo.comments.each do |comment| %>
      <div class="comment">
        <p class="comment-text">
          <%= comment.text %>
        </p>
        <div class="comment-meta">
          <small>
            <% if comment.contact.id == session[:uuid] %>
              <%= link_to icon('fas', 'trash'), event_photo_comment_path(@event, @photo, comment), method: :delete, data: { confirm: "Are you sure you want to remove your comment?" }, class:'text-danger' %>
            <% end %>
            <%= comment.contact.name %>
            - <%= time_ago_in_words(comment.created_at) %> ago
          </small>
        </div>
      </div>
    <% end %>

    <% if session[:uuid] %>

      <%= simple_form_for [@event, @photo, @comment] do |c| %>
        <div class="d-flex">
            <%= c.input :text, label: false, placeholder: "Add a comment", input_html: { class:"grow-input flex-grow-1 mb-2" }, wrapper_html: { class:"flex-grow-1" } %>
            <%= c.button :button, class:"btn btn-brand submit-comment mb-2" do %>
              <%= icon('fa', 'paper-plane') %>
            <% end %>
        </div>
      <% end %>

    <% end %>

  </div>
  <br>
    <div class="text-center">
      <%= link_to "back to all photos", event_photos_path(@event), class:'btn btn-secondary' %>

      <% unless @event.order && @event.order.state == 'completed' %>
        <br>
        <br>
        <p><small><%= icon('fas', 'info-circle') %> This free event displays photos with a maximum resolution of 0.15 megapixel. Please upgrade the event for €2 to see all images at full resolution. Thanks for your support! ❤️</small></p>

        <% if session[:uuid] %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'event_id', @event.id %>
            <%= hidden_field_tag 'contact_id', session[:uuid] %>
            <%= submit_tag 'Upgrade', class: 'btn btn-primary' %>
          <% end %>
        <% end %>

      <% end %>

    </div>


  </div>
</div>
