<!DOCTYPE html>
<html>
  <head>
    <title>Meetsy - a temporary private social space</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('m-favicon.png') %>

    <!-- iOS WEB-APP -->
    <%= favicon_link_tag 'm-favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <meta name="apple-mobile-web-app-title" content="<%= @event.name %>">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- END iOS WEB-APP -->

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>

  <body>
      <svg class="bottom-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320">
        <defs>
          <filter id="shadow">
            <feDropShadow dx="0" dy="-8" stdDeviation="10"/>
          </filter>
        </defs>
        <path style="filter:url(#shadow);" fill-opacity="1" d="M0,0L1440,256L1440,320L0,320Z"></path>
      </svg>
    </div>
    <%= render 'shared/banner' %>
    <%= render "events/event_banner" %>

    <div class="overlay">

      <svg class="top-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320">
        <defs>
          <filter id="shadow">
            <feDropShadow dx="0" dy="-8" stdDeviation="10"/>
          </filter>
        </defs>
        <path style="filter:url(#shadow);" fill-opacity="1" d="M0,0L1440,256L1440,320L0,320Z"></path>
      </svg>

      <div class="container">
        <%= yield %>
      </div>

      <svg class="bottom-svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320">
        <defs>
          <filter id="shadow">
            <feDropShadow dx="0" dy="-8" stdDeviation="10"/>
          </filter>
        </defs>
        <path style="filter:url(#shadow);" fill-opacity="1" d="M0,0L1440,256L1440,320L0,320Z"></path>
      </svg>
    </div>

    <div class="container footer">
      <div class="row">
        <div class="col text-center">
          <%= link_to icon('fas', 'info-circle') + " How it works", howitworks_path, class: 'btn btn-light m-2' %>
        </div>
      </div>
    </div>

  </body>
</html>
