<!DOCTYPE html>
<html>
  <head>
    <title>Meetsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('m-favicon.png') %>

    <!-- iOS WEB-APP -->
    <%= favicon_link_tag 'm-favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <meta name="apple-mobile-web-app-title" content="Meetsy">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- END iOS WEB-APP -->

    <meta property="og:title" content="Meetsy - a temporary private social space" />
    <meta property="og:description" content="Create a social space around an happening" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://www.meetsy.herkuapp.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dhrr755kq/image/upload/v1602373982/Meetsy.png" />

  </head>

  <body>
    <%= render 'shared/banner' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
